*{
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
@font-face{
  font-family: "Walt";
  src: local("Walt"), url("../fonts/waltograph42.otf")
}

.restaurantListContainer{
  margin-top: 30px;
}
.signup{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  height: 100vh;
  background: lightblue;
}
.signupIntro{
  font-family: "Dosis";
  font-size: 1.5em;
  text-align: center;
  line-height: 1.2em;
}
.ViewContainer{

}
