
.cardTitle{
  font-size: 1.7em;
  font-family: "Dosis";
  padding-top: 8px;
  border-radius: 5px;
  display: inline-block;
  color: black;
}
.restaurant-card {
  padding-left: 19px;
  border-bottom: solid;
  border-width: thin;
  border-color: grey;
  background-color: white;
}
.restaurant-card:hover{
  border-left: solid;
  border-left-width: 3px;
  margin-left: -3px;
  border-color: var(--brightblue);
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--whiteBlue)

}
.cardParkName{
  text-align: left;
  padding-bottom: 5px;
  margin-left: 40%;
}
.cardParkName > div{
  font-family: "Dosis", sans-serif;
  font-size: 1.2em;
  color: black;
}
.cardInfo{
  padding: 2px;
  border-radius: 5px;
  color: black;
}
.filter {
  width: 50%;
}
.filterContainer{
  min-width: 220px;
  width: 65%;
  margin-top: 30px;
  padding: 10px;
  border: solid;
  border-width: thin;
  border-color: grey;
  background-color: white;
}
