.navSearch {
  position: absolute;
  top: 15px;
}
.logo {
  font-family: "Walt";
  font-size: 2em;
  color: var(--lightblue);
  user-select: none;
  position: absolute;
  top: 45px;
  left: 25px;
  text-shadow:
   -1px -1px 0 var(--mutedblue),
    1px -1px 0 var(--mutedblue),
    -1px 1px 0 var(--mutedblue),
     1px 1px 0 var(--mutedblue)
}
.logout{
  position: absolute;
  top: 35px;
}
.navbar {
  border-bottom-style: inset;
  border-bottom-color: var(--mutedblue);
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.navbarLogin{
  position: absolute;
  top: 32px;
  left: 60px
}
