.navSearch {
  position: absolute;
  top: 15px;
}
.logo {
  font-family: "Walt";
  font-size: 2em;
  user-select: none;
  position: absolute;
  top: 45px;
  left: 25px;
}
.logout{
  position: absolute;
  top: 35px;
}
.navbar {
  border-bottom-style: inset;
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.navbarLogin{
  position: absolute;
  top: 32px;
  left: 60px
}
