.navSearch {
  /* position: absolute;
  top: 15px; */
}
.logo {
  font-family: "Walt";
  font-size: 6vh;
  user-select: none;
  letter-spacing: 5px;
}
.navbar {
  border-bottom: solid;
  border-color: red;
  background-color: white;
  line-height: 1.1;
  padding-top: 10px;
}

.navbarLogin{
  margin-top: 30px;
  text-align: right;
  font-size: 1.2em;
  color: black;
}
.navbarLoginText{
  text-decoration-line: underline;
  margin-left: 2px;
  margin-right: 2px;
}
.navbarLoginText:hover{
  cursor: pointer;
  color: #666;
}
