
.restaurantTitle {
  font-family: "Dosis", sans-serif;
  font-size: 3em;
  margin-top: 5px;
  text-align: center;
  margin-right: 60px;
}
.restaurantDetails {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  padding: 0px;
  margin-left: 10px;
  border: solid;
  border-width: thin;
  border-color: RGBA(200,200,255,.1);
  border-radius: 10px;
  background-color: RGBa(220,220,255,.1);
  position: absolute;
  top: 60px;
  width: 95%
}
.restaurantDetails > :first-child {
  border: solid;
  border-width: thin;
  border-color: RGBA(200,200,255,.1);
  border-radius: 10px 10px 0px 0px;
}
.restaurantDetails > :last-child {
  border: solid;
  border-width: thin;
  border-color: RGBA(200,200,255,.1);
  border-radius: 0px 0px 10px 10px;
}
.restaurantDetails > p {
  background-color: RGBa(200,200,255,.1);
  border: solid;
  border-width: thin;
  border-color: RGBA(200,200,255,.1);
}
