.restaurantPage{
  margin-top: 10px;
}

.ratingContainer{
  height: 522px;
  border: solid;
  border-width: thin;
  background-color: var(--whiteBlue);
}
.rating-text {
  text-align: center;
}
.restaurantTitle {
  font-family: "Dosis", sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 3px;
}
.restaurantDetails {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  border: solid;
  border-width: thin;
  background-color: var(--whiteBlue);
  text-align: center;
}
.restaurantParkName {
  text-align: center;
  margin-top: 20px;
}
.slider{
  appearance: none;
  outline: none;
  height: 10px;
}
.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  width: 12px;
  background: RGBa(1,1,1,0.5);
  border: solid;
  border-color: RGBa(1,1,1,.8);
  border-width: thin;
  cursor: pointer;

}
.slider::-moz-range-thumb{
  height: 25px;
  width: 12px;
  background: RGBa(1,1,1,0.5);
  border: solid;
  border-color: RGBa(1,1,1,.8);
  border-width: thin;
  cursor: pointer;
}
.textArea{
  border: solid;
  border-width: thin;
}
