.splash{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.splashDrop{
  margin-right: 10px;
}
.splashGreeting{
  background-color: white;
  border-radius: 5px;
}
.splashIn {
  display: flex;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
}
.splashLogin{
  position: absolute;
  top: 30px;
  right: 20px;
  text-align: right;

}
.splashLoginButtons{
  margin-bottom :15px;
}
.splashSearch{
  position: absolute;
  top: 50%;
  left: 30%;
  width: 40%;
  padding: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: solid;
  border-color: var(--brightblue);
}
.splashSearchForm{
  margin: auto;
}
.splashTitle{
  color: var(--brightblue);
  font-size: 10em;
  font-family: "Walt";
  position: absolute;
  top: 25%;
  width:100%;
  text-align: center;
  text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff
}
