.splash{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.splashGreeting{
  background-color: white;
  border-radius: 5px;
}
.splashLogin{
  position: absolute;
  top: 30px;
  right: 20%;
  text-align: right;

}
.splashLoginButtons{
  margin-bottom :15px;
}
.splashSearch{
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
}
.splashSearch > form{
  width: 60%;
  margin: auto;
}
.splashTitle{
  position: absolute;
  width:100%;
  top: 40%;
  font-size: 14em;
  font-family: "Walt";
  letter-spacing: 10px;
  text-align: center;
}
@media only screen and (min-height: 1200px){
  .splashSearch{
    top: 50%
  }
}
