.splash{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

}

.splashDrop{
  margin-right: 10px;
}
.splashGreeting{
  background-color: white;
  border-radius: 5px;
}

.splashIn {
  display: flex;
  text-align: center;
  margin: auto;
  margin-left: 8px;
  margin-right: 8px;
}

.splashLogin{
  position: absolute;
  top: 30px;
  right: 20px;
  text-align: right;
}
.splashLoginButtons{
  margin-bottom :15px;
}

.splashSearch{
  position: absolute;
  top: 50%;
  left: 20%;
  width: 60%;
  padding: 20px;
  padding-bottom: 10px;
  outline: solid;
  background-color: RGBa(50,220,180,1);
}

.splashSearchForm{
  width: 80%;
  margin: auto;
}

.splashTitle{
  color: RGBa(50,180,220,1);
  font-size: 10em;
  font-family: "Walt";
  position: absolute;
  top: 25%;
  width:100%;
  text-align: center;
  text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff
}
