
.Overall{
  width: 180px;
  height: 180px;
  clip-path: url(#svgPathOverall);
  background: #ccc;
  position: relative;
  margin: auto;
}
.Overall > .ratingFill {
  display: block;
  width: 100%;
  transition: all 1s;
  position: absolute;
  bottom: 0;
}
.OverallNumber{
  height: 180px;
  background: #fff;
  clip-path: url(#ratingSVGOverall);
  margin-top: -179px;
  border: solid;
}
.OverallNumber > .numberFill {
  display: block;
  width: 180px;
  transition: all 1s;
}


.Quality{
  width: 120px;
  height: 120px;
  background: #ccc;
  clip-path: url(#svgPathQuality);
  position: relative;
  margin: auto;
}
.Quality > .ratingFill {
  display: block;
  width: 100%;
  transition: all 1s;
  position: absolute;
  bottom: 0;
}
.QualityNumber{
  height: 120px;
  background: #fff;
  clip-path: url(#ratingSVGQuality);
  margin-top: -120px;
}
.QualityNumber > .numberFill {
  display: block;
  width: 120px;
  transition: all 1s;
}

.Cleanliness{
  width: 120px;
  height: 120px;
  background: #ccc;
  clip-path: url(#svgPathCleanliness);
  position: relative;
  margin: auto;
}
.Cleanliness > .ratingFill {
  display: block;
  width: 100%;
  transition: all 1s;
  position: absolute;
  bottom: 0;
}
.CleanlinessNumber{
  height: 120px;
  background: #fff;
  clip-path: url(#ratingSVGCleanliness);
  margin-top: -120px;
}
.CleanlinessNumber > .numberFill {
  display: block;
  width: 120px;
  transition: all 1s;
}

.Service{
  width: 120px;
  height: 120px;
  clip-path: url(#svgPathService);
  background: #ccc;
  position: relative;
  margin: auto;
}
.Service > .ratingFill {
  display: block;
  width: 100%;
  transition: all 1s;
  position: absolute;
  bottom: 0;
}
.ServiceNumber{
  height: 120px;
  background: #fff;
  clip-path: url(#ratingSVGService);
  margin-top: -120px;
}
.ServiceNumber > .numberFill {
  display: block;
  width: 120px;
  transition: all 1s;
}

.Value{
  width: 120px;
  height: 120px;
  clip-path: url(#svgPathValue);
  background: #ccc;
  position: relative;
  margin: auto;
}
.Value > .ratingFill {
  display: block;
  width: 100%;
  transition: all 1s;
  position: absolute;
  bottom: 0;
}
.ValueNumber{
  height: 120px;
  background: #fff;
  clip-path: url(#ratingSVGValue);
  margin-top: -120px;
}
.ValueNumber > .numberFill {
  display: block;
  width: 120px;
  transition: all 1s;
}
.smallSVGText{
  font-size: 45px;
}
.largeSVGText{
  font-size: 77px;
}
